* {
    margin: 0px;
    height: 0px;
}
body {
    height: 2000px;
    background-color: #000;
}
.mySwiper {
    width: 100%;
    height: 300px;
    top: 500px;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    background-color: #eee ;
    margin-top: 50px;
}
.swiper-wrapper {
    width: 100%;
    height: 100%;
}
.swiper-wrapper .swiper-slide {
    width: 200px;
    height: 200px;
    position: relative;
    top: 50%;
    margin-top: -100px;
}
.swiper-wrapper .swiper-slide .inner {
    width: 100%;
    height: 100%;
    background-color: #fff;
    box-sizing: border-box;
}